:root {
    --bulma-body-family: "Newsreader", serif;
}

body {
    background-color: rgb(249, 244, 234);
}

.title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

object.email {
	height: 2em;
	margin: -1em 0;
	vertical-align: middle;
}

a:link {
    color: black;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: black;
}